<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link rel="stylesheet" href="~/CSS/navbar.css" />

    <link rel="stylesheet" href="~/CSS/slider.css" />

    <link rel="stylesheet" href="~/CSS/page.css" />

</head>
<body>

    <nav>
        <ul>
            <li><a href="~/Home/Index" style="text-decoration: none; color: white"><i class="fa fa-home"></i> Home</a></li>

            <li><a href="~/Slider/Index" style="text-decoration: none; color: white"><i class="fa fa-plus"></i> Add Slider</a></li>

        </ul>
    </nav>

    <br />
    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year - <a target="_blank" href="https://github.com/yunsari" style="text-decoration: none; color: #316293;" ><i class="fa fa-github"></i> GitHub</a></p></center>
        </footer>
    </div>

</body>
</html>

<script src="~/JS/slider.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>