ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    display: inline-block;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #f39c12;
        }

ul li ul {
    background-color: #000000;
    display: none;
    position: absolute;
    width: 100px
}

ul li:hover ul {
    display: block;
}

li ul li {
    display: block;
}